In [1]:
import itertools
import pandas as pd

## Part 1

In [2]:
data = [x.strip() for x in open("input.txt").readlines()]

In [20]:
df_list = []
df_cols = []
for line in data[2:]:
    if line != '':
        line_list = line.split()
        df_cols.append(line_list)
    else:
        df_list.append(pd.DataFrame(df_cols, columns=['0', '1', '2', '3', '4']))
        df_cols = []

In [21]:
df_list[1]

    0   1   2   3   4
0  41  94  77  43  87
1   2  17  82  96  25
2  95  49  32  12   9
3  59  33  67  71  64
4  88  54  93  85  30

In [22]:
bingo_nums = data[0].split(',')

In [58]:
out_list = df_list.copy()
bingo_ind = 0
while bingo_ind == 0:
    for bingo_num in bingo_nums:
        for ind, df in enumerate(out_list):
            n_df = df.replace(bingo_num, '-1')
            out_list[ind] = n_df
            # Check if bingo
            m = n_df == '-1'
            row_sum = m.sum(axis = 1)
            col_sum = m.sum()
            if sum(row_sum == 5) > 0 or sum(col_sum == 5) > 0:
                bingo_ind = 1
                bingo_df = n_df.copy()
                print("Bingo!")
                break
        if bingo_ind == 1:
            break

Bingo!

In [59]:
bingo_df_numeric = bingo_df[bingo_df.columns].apply(pd.to_numeric)

In [60]:
running_sum = 0
for col_name in bingo_df_numeric.columns:
    running_sum += bingo_df_numeric.loc[bingo_df_numeric[col_name] != -1, col_name].sum()

In [61]:
output_p1 = int(bingo_num) * running_sum

In [62]:
print(f"The output for Part 1 is {output_p1}.")

The output for Part 1 is 74320.