## Part 1

In [1]:
import numpy as np
import pandas as pd
import re
from datetime import datetime

In [2]:
data = [str(x) for x in open("input.txt").read().splitlines()]

In [3]:
dates = [re.findall(r'\[(.*)\]', entry)[0] for entry in data]

In [4]:
rest = [re.findall(r'\] (.*)$', entry)[0] for entry in data]

In [5]:
guard_ids = []
for i in range(0,len(rest)):
    entry = rest[i]
    if re.findall(r'(\d+)', entry) == []:
        guard_ids.append(np.nan)
    else :
        guard_ids.append(int(re.findall(r'(\d+)', entry)[0]))

In [6]:
guard_shift_df = pd.DataFrame(
    {'date': dates,
     'guard_id': guard_ids,
     'note': rest
    })

In [7]:
shift_sorted = guard_shift_df.sort_values(by = 'date').reset_index(drop = True)
shift_sorted['guard_id'].fillna(method = 'ffill', inplace = True)

In [8]:
shift_sorted['minute'] = shift_sorted.date.str[-2:]
shift_sorted['minute'] = pd.to_numeric(shift_sorted['minute'])

In [9]:
shift_sorted['time_asleep'] = 0
shift_sorted.loc[shift_sorted['note'] == 'wakes up', 'time_asleep'] = shift_sorted.minute.diff()
shift_sorted.head(10)

               date  guard_id                      note  minute  time_asleep
0  1518-02-24 23:58     853.0   Guard #853 begins shift      58          0.0
1  1518-02-25 00:20     853.0              falls asleep      20          0.0
2  1518-02-25 00:43     853.0                  wakes up      43         23.0
3  1518-02-25 23:56    3499.0  Guard #3499 begins shift      56          0.0
4  1518-02-26 00:11    3499.0              falls asleep      11          0.0
5  1518-02-26 00:19    3499.0                  wakes up      19          8.0
6  1518-02-26 00:37    3499.0              falls asleep      37          0.0
7  1518-02-26 00:44    3499.0                  wakes up      44          7.0
8  1518-02-26 00:53    3499.0              falls asleep      53          0.0
9  1518-02-26 00:58    3499.0                  wakes up      58          5.0

In [10]:
shift_sorted[['guard_id', 'time_asleep']].groupby(by = 'guard_id').sum().sort_values(by = 'time_asleep', ascending = False).head(1)

          time_asleep
guard_id
727.0           444.0

## Guard 727 sleeps the most
444 minutes

In [11]:
guard_727 = shift_sorted.loc[(shift_sorted['guard_id'] == 727.0) & ((shift_sorted['note'] == 'wakes up') | (shift_sorted['note'] == 'falls asleep')), :]

In [12]:
a = np.zeros(60)

In [13]:
guard_interest_list = guard_727['minute'].tolist()
for i in range(1,len(guard_interest_list)-1, 2):
    start = guard_interest_list[i-1]
    stop = guard_interest_list[i]
    a[start:stop] += 1

In [14]:
a[np.argmax(a)]

15.0

In [15]:
np.argmax(a)

29

### What is the ID of the guard you chose multiplied by the minute you chose?

In [16]:
29 * 727

21083

## Part one answer is 21,083

## Part 2

--- Part Two ---
Strategy 2: Of all guards, which guard is most frequently asleep on the same minute?

In the example above, Guard #99 spent minute 45 asleep more than any other guard or minute - three times in total. (In all other cases, any guard spent any minute asleep at most twice.)

What is the ID of the guard you chose multiplied by the minute you chose? (In the above example, the answer would be 99 * 45 = 4455.)

In [17]:
sleep_interval = shift_sorted.loc[(shift_sorted['note'] == 'wakes up') | (shift_sorted['note'] == 'falls asleep'), :]
sleep_interval.head()

               date  guard_id          note  minute  time_asleep
1  1518-02-25 00:20     853.0  falls asleep      20          0.0
2  1518-02-25 00:43     853.0      wakes up      43         23.0
4  1518-02-26 00:11    3499.0  falls asleep      11          0.0
5  1518-02-26 00:19    3499.0      wakes up      19          8.0
6  1518-02-26 00:37    3499.0  falls asleep      37          0.0

In [18]:
guards = sleep_interval.guard_id.unique().tolist()

In [19]:
max_min_arr = np.zeros(len(guards))
max_val_arr = np.zeros(len(guards))
for i in range(0,len(guards)):
    temp_df = sleep_interval.loc[sleep_interval['guard_id'] == guards[i]]
    min_tally = np.zeros(60)
    guard_sleep_list = temp_df['minute'].tolist()
    for j in range(1,len(guard_sleep_list)+1, 2):
        start = guard_sleep_list[j-1]
        stop = guard_sleep_list[j]
        min_tally[start:stop] += 1
    max_min = np.argmax(min_tally)
    max_val = min_tally[np.argmax(min_tally)]
    max_min_arr[i] = max_min
    max_val_arr[i] = max_val
    #print('Guard: ' + str(guards[i]) + ' minute most asleep: ' + str(max_min) +' number of times: ' + str(max_val))
max_guard_id  = guards[np.argmax(max_val_arr)]
max_minute = max_min_arr[np.argmax(max_val_arr)]
print('Guard ID: ' + str(max_guard_id))
print('Minute Most Asleep: ' + str(max_minute))

Guard ID: 1657.0
Minute Most Asleep: 32.0

### Guard 1657 was asleep in minute 32 a total of 17 times. The 17 times was the most anybody was asleep in a certain minute

In [20]:
32 * 1657

53024

## Answer to Part 2 is 53024