In [1]:
import itertools
import pandas as pd

## Part 1

- Use the binary numbers in your diagnostic report to calculate the gamma rate and epsilon rate, then multiply them together
- You need to use the binary numbers in the diagnostic report to generate two new binary numbers (called the gamma rate and the epsilon rate). The power consumption can then be found by multiplying the gamma rate by the epsilon rate.

- Each bit in the gamma rate can be determined by finding the most common bit in the corresponding position of all numbers in the diagnostic report.

In [7]:
data = [x.strip() for x in open("input.txt").readlines()]

In [9]:
df = pd.DataFrame({
    'input_col': data
})

In [15]:
df_split = df['input_col'].apply(lambda x: pd.Series(list(x))) # Turn digits into columns

In [24]:
split_counts = df_split.apply(lambda x: x.value_counts()) # Count of each digit

In [27]:
least_common = split_counts.apply(lambda x: x.idxmin()) # Least common

In [29]:
most_common = split_counts.apply(lambda x: x.idxmax())# Most common

In [35]:
output_p1 = int(least_common.str.cat(), base = 2) * int(most_common.str.cat(), base = 2)

In [36]:
print(f"The output of Part 1 is {output_p1}.")

The output of Part 1 is 693486.

## Part 2

- Keep only numbers selected by the bit criteria for the type of rating value for which you are searching. Discard numbers which do not match the bit criteria.
    - If you only have one number left, stop; this is the rating value for which you are searching.
    - Otherwise, repeat the process, considering the next bit to the right.
- The bit criteria depends on which type of rating value you want to find:

    - To find oxygen generator rating, determine the most common value (0 or 1) in the current bit position, and keep only numbers with that bit in that position. If 0 and 1 are equally common, keep values with a 1 in the position being considered.
    - To find CO2 scrubber rating, determine the least common value (0 or 1) in the current bit position, and keep only numbers with that bit in that position. If 0 and 1 are equally common, keep values with a 0 in the position being considered.

In [106]:
# oxygen (most common)
oxygen_rating = df_split.copy()
char_pos = 0
while oxygen_rating.shape[0] > 1:
    # Take the most common for that column and filter for value
    most_common_char = oxygen_rating[char_pos].value_counts().idxmax()
    oxygen_rating = oxygen_rating.loc[oxygen_rating[char_pos] == most_common_char]
    char_pos += 1

In [107]:
# CO2 (Least common)
co2_rating = df_split.copy()
char_pos = 0
while co2_rating.shape[0] > 1:
    least_common_char = co2_rating[char_pos].value_counts().idxmin()
    if len(co2_rating[char_pos].value_counts()) > 1:
        if co2_rating[char_pos].value_counts()[0] == co2_rating[char_pos].value_counts()[1]:
            least_common_char = '0'
    co2_rating = co2_rating.loc[co2_rating[char_pos] == least_common_char]
    char_pos += 1

In [101]:
oxygen_rating

    0  1  2  3  4  5  6  7  8  9  10 11
376  0  0  1  1  1  0  1  0  0  1  0  1

In [102]:
co2_rating

    0  1  2  3  4  5  6  7  8  9  10 11
350  1  1  1  0  0  0  1  0  0  1  1  0

In [103]:
co2_binary = co2_rating.iloc[0,:].str.cat()
oxygen_binary = oxygen_rating.iloc[0,:].str.cat()

In [104]:
output_p2 = int(co2_binary, base = 2) * int(oxygen_binary, base = 2)

In [105]:
print(f"The output of Part 2 is {output_p2}.")

The output of Part 2 is 3379326.