Count the number of valid passports - those that have all required fields. Treat cid as optional. In your batch file, how many passports are valid?

In [8]:
import itertools
import re
import pandas as pd

In [6]:
data = [re.sub(r'\n', '', x) for x in open("input.txt").readlines()]

In [56]:
# data

In [81]:
passport_lists = []
person = []
for passport in data:
    if passport != '':
        person.append(passport.split())
    if passport == '':
        passport_lists.append(person)
        person = []
passport_lists.append(person) # One last entry that doesn't have a space

In [82]:
# passport_lists

In [83]:
passport_dict = {}
passport_df = pd.DataFrame()
for passport_list in passport_lists:
    for info_list in passport_list:
        for info in info_list:
            key = re.findall(r'^(.+):', info).pop()
            value = re.findall(r':(.+)$', info)
            passport_dict[key] = value
#     print(pd.DataFrame.from_dict(passport_dict))
    passport_df = pd.concat([passport_df, pd.DataFrame(passport_dict)], sort = True)
    passport_dict = {}

In [87]:
passport_df['valid'] = pd.notnull(passport_df[['byr', 'ecl', 'eyr', 'hcl', 'hgt', 'iyr', 'pid']]).all(1)
passport_df.head()

    byr  cid      ecl   eyr      hcl    hgt   iyr        pid  valid
0  2000   89      amb  2034  #fffffd  176cm  2013  934693255   True
0  1939  NaN      grn  2020  #b5c3db  155cm  2017    #baec97   True
0  1960  NaN      dne  1972        z  152cm  2023  526669252   True
0  1926  NaN  #473aaf  2028  #c0946f   73in  2016  565318180   True
0  1940  277      oth  2030  #62e117  170cm  2019  472686027   True

In [85]:
print(f"The number of valid passports is {sum(passport_df['valid'])}" )

The number of valid passports is 230

## Part 2

You can continue to ignore the cid field, but each other field has strict rules about what values are valid for automatic validation:

- byr (Birth Year) - four digits; at least 1920 and at most 2002.
- iyr (Issue Year) - four digits; at least 2010 and at most 2020.
- eyr (Expiration Year) - four digits; at least 2020 and at most 2030.
- hgt (Height) - a number followed by either cm or in:
- If cm, the number must be at least 150 and at most 193.
- If in, the number must be at least 59 and at most 76.
- hcl (Hair Color) - a # followed by exactly six characters 0-9 or a-f.
- ecl (Eye Color) - exactly one of: amb blu brn gry grn hzl oth.
- pid (Passport ID) - a nine-digit number, including leading zeroes.
- cid (Country ID) - ignored, missing or not.